.square
    width: 100vw
    height: 100vw
.board
    max-width: calc(8 * 80px)
    max-height: calc(8 * 80px)
    display: flex
    flex-wrap: wrap
    margin: 0 auto
    border: 8px solid #000

.cell
    max-width: calc(100%/8)
    max-height: calc(100%/8)
    display: flex
    align-items: center
    justify-content: center

.cell.white
    background-color: #d4d4d4

.cell.black
    background-color: #999

.figure
    font-size: 60px

//.white .king:before
//    content: $whiteKing
//
//.white .rook:before
//    content: $whiteRook
